body {
    background: #1d4950;
    background-color: #1d4950;
    background: linear-gradient(0, #1d4950, #017d63);
    color: #ebeff2;
}

.is-act-home {
    background-color: #1d4950;
    background: linear-gradient(0, #1d4950, #017d63);
    color: #ebeff2;
}
